.container
{
    display: flex !important;
    flex-direction: column;
    margin: auto;
    margin-top: 50px ;
    height: 800px !important;
    width: 700px !important;
    /* background: #fff; */
    background: hsla(187, 91%, 13%, 0.692);
    padding-bottom: 30px ;
    border-radius: 10px;
    background-color: rgb(0,28,73)!important;
}
.header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text
{
    color: white !important;
    font-size: 48px;
    font-weight: 700;
}
.underline
{
    width: 61px;
    height: 6px;
    background: white !important;
    border-radius: 9px;
}
.inputs
{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input
{
display: flex;
align-items: center;
margin: auto;
width: 480px;
height: 80px;
background: #eaeaea;
border-radius: 6px;
}

.input img
{
    margin:0px 30px;
}
.input  input
{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forgot-password
{
   padding-left: 62px;
   margin-top: 27px;
   color: white;
   font-size: 18px; 
   margin-left: 270px;
}
.forgot-password span
{
    color: rgb(4, 12, 74);
    cursor: pointer;
}
.submit-container
{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit .reg-button
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: rgb(186, 7, 153);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;  
}
.gray
{
    background: #EAEAEA;
    color: #676767;
}






