.criteria-container
{
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to next line */
    gap: 40px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}
.first h1
{
    color: rgb(5, 5, 5);
    margin-bottom: 20px;
}
.criterion-table
{
    width: calc(33.33% - 40px);
}