#containerReg {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9; /* Added background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 18px 30px black;
  height: 500px; /* Increased height */
  margin-top: 200px;
}

#headerReg {
  text-align: center;
  margin-bottom: 20px;
}

#text {
  font-size: 24px;
}

#underline {
  width: 50px;
  height: 3px;
  background-color: #333;
  margin: 10px auto;
}

#error {
  background-color: maroon;
  text-align: center;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

#inputsReg {
  margin-bottom: 20px;
}

#inputReg {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#inputReg img {
  width: 20px;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 30px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#forgot-password {
  text-align: center;
  margin-bottom: 20px;
}

#submit-container {
  text-align: center;
}

#submit button {
  background-color: rgb(0,28,73);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reg-button:hover {
  background-color: rgb(0,28,73);
}
