/* .list--header
{
    display: flex;
    margin: 3rem 0;
    justify-content: space-between;
}

.list--header h2
{
    color: #526d82;
}

.list--header select
{
border-radius: 10px;
border: none;
padding: 8px 12px;
border: 1px solid #dde6ed;
color: #526d82;
}


.list--container
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list
{
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.teacher--detail
{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #526d82;

}

.teacher--detail img
{
    width: 50px;
    background: #dde6ed;
    border-radius: 50%;
}
.list:hover
{
    background: #dde6ed;
    border-radius: 10px;
}

.spancourse
{
    margin-left: 100px;
    font-size: 20px;
    font-weight: 20px;
}

.spanother
{
    margin-left: 100px;
    font-size: 20px;
    font-weight: 20px;
} */


.teacher--list {
    width: 100%;
  }
  .teacher--list .list--header h2
  {

    font-size: 20px;
    width: 130px;
  }
  .teacher--table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .teacher--table th,
  .teacher--table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px; 
  }
  
  .teacher--table th {
    background-color: #f2f2f2; /* Color for header row */
  }
  
  .table--header th {
    background-color: white; /* Color for header cells */
    color: black;
  }
  
  .table--header th,
  .table--header td {
    padding: 10px;
    text-align: left;
  }
  
  .table--header td:last-child,
  .teacher--table td:last-child {
    text-align: center; /* Center align delete button */
  }
  
  button {
    background-color:  #526d82;; /* Red color for delete button */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #d32f2f; /* Darker red color on hover */
  }
  