.teacher--list {
  font-family: Arial, sans-serif;
}

.list--header {
  display: flex;
  gap: 250px;
}

.list--header h2 {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  width: 10%; /* Set fixed width for header */
}

.list--header a {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  width: 10%; /* Set fixed width for header */
  text-decoration: dotted;
  cursor: pointer;
  color: #05445E;
  font-size: 20px;
}

.list--container {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.list--container th,
.list--container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; /* Align text to center */
  width: 12%; /* Set fixed width for td */
}

.list--container th {
  background-color: #05445E;
  color: white;
}

.list--container tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.list--container tbody tr:hover {
  background-color: #ddd;
}

/* Feedback section styles */
.feedback--section {
  margin-top: 20px;
}

.feedback--container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.feedback--box {
  border: 1px solid #05445E;
  padding: 20px;
  width: 45%;
  box-sizing: border-box;
}

.feedback--box h3 {
  margin-top: 0;
}

.feedback--box p {
  margin: 0;
}
