/* In ThirdDetail.css */
.c1
{
    margin-top: -160px;
    margin-left: 30%;
}  
.c1 .cont h1
  {
    padding: 10px;
    text-align: center;
    color:  #1b2328;
    font-size: 30px; 
    margin-top: 100px;
  }
.containerr {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 30px; */
    gap: 30px;
  }
  
  .column {
    margin: 10px;
    padding: 10px;
    border: 2px solid #05445E ;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    width: 650px;
    box-shadow: 0px 18px 40px rgb(123, 120, 120);
    transition: transform 0.3s ease;
    border-radius: 10px;
  }

  .column h2 {
    margin-top: 0; /* Remove top margin */
    margin-bottom: 10px;
  }
  
  .column p {
   margin: 5px 0;
  }
  

