.card--container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    margin-top: 2rem;
    border-radius: 20px;
}

.card {
    flex-basis: calc(16.666% - 20px); /* Six items per row */
    background: Blue Grotto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.card--cover {
    background: #fff;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #969393;
}

.card--title {
    background: #ffffffc0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #526d82;
    border-radius: 10px;
}